<h2>Latest Posts</h2>


<div *ngFor="let post of posts; let i=index">
    <div class="card mb-3" style="max-width: 800px;" *ngIf="i >= 90">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../assets/cards.jpg" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.body}}</p>
                    <div class="info-posts">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text"><small class="text-muted"><a routerLink="/comments/{{post.id}}"><i
                                        class="fas fa-comments"></i>Comments</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>